root = true

[*.cs]

dotnet_diagnostic.SA1010.severity = none

dotnet_diagnostic.SA1101.severity = none

dotnet_diagnostic.SA1200.severity = none

dotnet_diagnostic.SA1413.severity = none

dotnet_diagnostic.SA1515.severity = none

dotnet_diagnostic.SA1633.severity = none # File header
